<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<div class="container">
<h1 class="text-secundary border border-succes" th:text="${titulo}"></h1>
    <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/form}" class="btn btn-success btb-xs">
        <i class="fa-solid fa-plus"></i></a>
    <table class="table table-striped table-hover">
    <thead>
    <tr>
        <th sec:authorize="hasRole('ROLE_USER')">id</th>
        <th th:text="#{text.cliente.nombre}">nombre</th>
        <th th:text="#{text.cliente.apellido}">apellido</th>
        <th th:text="#{text.cliente.email}">email</th>
        <th th:text="#{text.cliente.createAt}">fecha</th>
        <th th:text="#{text.cliente.factura.crear}" sec:authorize="hasRole('ROLE_ADMIN')">crear factura</th>
        <th th:text="#{text.cliente.editar}" sec:authorize="hasRole('ROLE_ADMIN')">editar</th>
        <th th:text="#{text.cliente.eliminar}" sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente: ${clientes}">
        <<td sec:authorize="hasRole('ROLE_USER')">
            <a class="btn btn-primary btn-xs"
               th:href="@{/ver/} + ${cliente.id}"
               th:text="${cliente.id}"></a>
        </td>
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.apellido}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.fechaCreacion}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="btn btn-success btn-xs"
               th:href="@{'/factura/form/' + ${cliente.id}}">
                <i class="fa-solid fa-cart-plus"></i>
            </a>
        </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a  th:href="@{/form/} + ${cliente.id}">
            <i class="fa-solid fa-user-pen"></i>
        </a> </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
        <a  th:href="@{/eliminar/} + ${cliente.id}" onclick="return confirm('Esta seguro que quieres eliminar usuario ?')">
            <i class="fa-solid fa-user-minus"></i>
        </a> </td>
    </tr>

    </tbody>
</table>
    <nav th:replace="~{paginator-nav :: paginator}"></nav>
</div>
<footer th:replace="~{layout/layout :: footer}"></footer>
</body>

</html>